<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PicoTest.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>89333C4F2C46A9C752FCED418ACCC60B2D1B430D</string>
				<key>dateExpires</key>
				<string>2019/10/16</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>874R32TFC3.com.ampacscorp.factory.PicoTest</string>
				<key>com.apple.developer.team-identifier</key>
				<string>874R32TFC3</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>874R32TFC3.com.ampacscorp.factory.PicoTest</string>
				</array>
			</dict>
			<key>name</key>
			<string>PicoTest.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d7699cf0-d366-4bdd-aee3-a53d8db6e8ce</string>
				<key>name</key>
				<string>App for factory testing(AdHoc)</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>874R32TFC3</string>
				<key>name</key>
				<string>Ampacs Corporation</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
